<form #loginForm="ngForm" >
    <div ngClass="div1">
        <h2>Enter the Username: </h2>
        <input type="email" name="uname" ngModel placeholder="username" #name="ngModel" required minlength="5">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
            <div *ngIf="name.errors?.['required']">
                Name is required
            </div>
            <div *ngIf="name.errors?.['minlength']">
                Username must be at least 5 characters long
            </div>
        </div>
    </div>
    <div ngClass="div2">
        <h2>Enter the Password: </h2>
        <input type="password" ngModel name="password" placeholder="password" #pass="ngModel" required minlength="8"> <br><br>
        <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert">
            <div *ngIf="pass.errors?.['required']">
                Password is required
            </div>
            <div *ngIf="pass.errors?.['minlength']">
                Password must be at least 8 characters long
            </div>
        </div>
    </div>
    <button type="submit" (click)="onLoginClick(loginForm.value)">LOG-IN</button>
</form>